
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

#footer {
	background-color: #222;
    border-color: #090909;
    color: #f5f8fa;
    padding: 3rem 0;
}
